
body{
    background-color: rgb(230, 219, 228);
}



.flax-item i{
    font-size: 3rem;
}

.contact-me-03 i{
    font-size: 4rem;
}
i{
    font-size: 3rem;
   margin-bottom: 3rem;
   margin-top: 2rem;
}



/* portfolio-card */

.PORTFOLIO-card{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));
    align-items: center;
    gap: 2.5rem;
    margin-top: 5rem;
}
